<br>
<br>

<div class="row margin">
  <div class="col-lg-6">
    <div>
      <h3 style="text-align: center; border-right: black 1px solid;">Balances</h3>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 30px;flex-direction: column; align-items: center;">
      <div>
        <strong style="color: blue;">USD: </strong>${{balance}}
      </div>
      <div style="margin-top: 30px; text-align: center;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Qt</th>
              <th scope="col">Bought at</th>
              <th scope="col">Price</th>
              <th scope="col">Change</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color:lightgreen">
              <td>BTC-USDT</td>
              <td>1</td>
              <td>$10</td>
              <td>$12</td>
              <td>+$2 / +2%</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div class="col-lg-6">
    <div>
      <h3 style="text-align: center">Watchlists</h3>
    </div>

  </div>
</div>